<!DOCTYPE html>
<html lang="en">
<head>
<style>
body { 
  background: image-url('file:///C:/Users/nishith/Desktop/coding_bulls/app/views/welcome/Dashboard.png'); 
}

h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #000000;
	animation-duration: 3s;
  	animation-name: slidein;	
}
h2 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: center;
	animation-duration: 3s;
  	animation-name: slidein;
}
h1 {
	text-align: center;
	}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
</style>
</head>
<body>				  
<div>
<h1> Welcome! Priyans </h1>
</div>	
</body>
</html>