<!DOCTYPE html>
<html lang="en">
<head>
<style>
body { 
  background-image: url("/assets/Dashboard.png");
  background-repeat: no-repeat;
  background-size: 100%; 
}

h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #000000;
	animation-duration: 3s;
  	animation-name: slidein;	
}
h2 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: center;
	animation-duration: 3s;
  	animation-name: slidein;
}
h1 {
	text-align: center;
	}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
</style>
</head>
<body background="">				  
<div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br> 
	<br> 
	<br>
	<br>
	<% if user_signed_in? %>
		<h1> Welcome! <%= current_user.name %> </h1>
	<% else %>
		<h1> Welcome! Sign-in to access the desired services </h1>
	<% end %>
</div>	
</body>
</html>