<style>
body { 
  background-image: url("/assets/Dashboard.png");
  background-repeat: no-repeat;
  background-size: 100%; 
}

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: 700;
	font-style: italic;
	margin-top: 200px;
	color: #000000;
	animation-duration: 3s;
  	animation-name: slidein;	
}
h2 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: center;
	animation-duration: 3s;
  	animation-name: slidein;
}
h1 {
	text-align: center;
	}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
</style>		  
<div>
	<% if user_signed_in? %>
		<h1 class="welcome-header"> Welcome! <%= current_user.name %> </h1>
	<% else %>
		<h1 class="welcome-header"> Welcome! Sign-in to access the desired services </h1>
	<% end %>
</div>	
