<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        All Posts
      </a>
      <% if user_signed_in? %>
        <a class="navbar-brand" href="#">
          <%= current_user.email %>
        </a>
        <%= link_to 'Log out', destroy_user_session_path, class: "btn btn-primary", method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>

<style>
.navbar-default {
  background-color: #e74c3c;
  border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
  color: white;
}
</style>